* {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  background-color:#121212;
}

.navigator {
  height: 5.0rem;
  width: 100%;
  background-color: #FFE455;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px; /*need this for sticky */
  margin-bottom: 10px;
}

.hamburger{
  width: 2.8rem;
  height: .5rem;
  background-color: black;
  margin: .6rem 0;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-logo{
  font-size: 2.8rem;
  margin-left: 10px;
  margin-bottom: 0px;
  color: black;
  font-weight: bold;
}

.test {
  background-color: #121212;
  height: 2000px;
  width: 100%;
}

.nav-logsign-btns{
  margin-right: 10px;
}

.btn{
  font-size: 1.6rem;
}

.nav-links{
  font-size: 2.0rem;
  font-weight: bold;
  display: none;
  margin-right: 40px;
}

@media screen and (max-width: 400px){
  .navigator p{
      font-size: 2.0rem;
  }

  .btn{
      font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px){
  .hamburger-icon{
    display: none;
  }
  .nav-logo{
    margin-right: 70px;
  }
  .nav-links{
    display: inline;
  }
}
