.sideNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #262625;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .leader {
    font-size: large;
    color: white;
  }

  .side-nav a {
    text-align: left;
    color: white;
    font-size: 15px;
    padding: 8px;
    display: block;
    text-decoration: none;
  }

  /* NEEDS TO BE FIXED SINCE MESSES UP MOBILE NAV BAR */
  li a {
    text-align: left;
    color: white;
    font-size: 25px;
    padding: 10px;
    display: block;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #e6e6e6;
    color: black;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  

  .header-text {
    background-color: black;    
  }

  .light-row {
    background-color: #e8e8e8;
    height: 50px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
  }

  .dark-row {
    background-color: #a6a4a4;
    height: 50px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
  }

  .rank {
    text-align: left;
    margin-left: -44px;
    padding: 13px;
  }

  .user {
    text-align: left;
    margin-left: 255px;
    padding: 10px;
  }

  .badge {
    text-align: left;
    margin-left: 60px;
    padding: 10px;
  }

  .eventsAttended {
    text-align: left;
    margin-left: 550px;
    padding: 10px;
  }

  .leaderName {
    color: black;
    text-align: left;
    margin-top: 12px;
    margin-left: 25px;
  }

  .leaderBadge {
    color: black;
    text-align: left;
    margin-top: 12px;
    margin-left: 183px;
    position: absolute;
  }

  .leaderEventsAttended {
    color: black;
    text-align: left;
    margin-top: 12px;
    margin-left: 870px;
    position: absolute;
  }

  /* mobile view css */

  .mobileBadgeNav {
    width: 100%;
    background-color: #262625;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    height: 50px;
  }

  .userMobile {
    text-align: left;
    margin-left: 55px;
    padding: 7px;
    font-size: 15px;
    position: sticky;
  }

  .badgeMobile {
    text-align: left;
    margin-left: 70px;
    padding: 7px;
    font-size: 15px;
    position: sticky;
  }

  .eventsAttendedMobile {
    text-align: center;
    margin-left: 50px;
    padding: 7px;
    font-size: 15px;
    position: sticky;
  }

  .light-row-mobile {
    background-color: #e8e8e8;
    height: 50px;
    display: flex;
    margin-left: 10%;
    flex-direction: row;
  }

  .dark-row-mobile {
    background-color: #a6a4a4;
    height: 50px;
    display: flex;
    margin-left: 10%;
    flex-direction: row;
  }

  .rankMobile {
    text-align: left;
    padding: 13px;
  }

  .leaderEventsAttendedMobile {
    color: black;
    text-align: left;
    margin-top: 12px;
    margin-left: 320px;
    position: absolute;
  }

  .badge-pic {
    height: 30px;
    width: 30px;
    margin-left: 185px;
    padding: 10px;
    position: absolute;
  }

  .badge-pic-mobile {
    height: 30px;
    width: 30px;
    margin-left: 180px;
    padding: 10px;
    position: absolute;
  }
